body,html {
	margin: 0;
	padding: 0;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}

#masthead {
	margin: 0;
	padding: 10px 0 8px;
	width: 100%;
	background: #000;
	h1 {
		margin: 0 5px;
		font-family: "league-gothic",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 27px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #fff;
		a {
			text-decoration: none;
			color: #BA4545;
			&:hover {
				color: #fff;
			}
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a img {
		display: block;
		margin: 0;
		border: none;
		opacity: 0.8;
	}
	a:hover img {
		opacity: 1;
	}
}

// Lazy load
.lazy {
	display: none;
}

// View.js transitions
.viewer {
	li {
		-webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		-moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	}
	.caption {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 1.5s ease-in-out;
		-moz-transition: opacity 1.5s ease-in-out;
		transition: opacity 1.5s ease-in-out;
	}
	.current .caption {
		opacity: 100;
		visibility: visible;
	}
}